<h1><%= @question.title %></h1>
<div style="display: block" id="question_area_id">
  <%= @question.description %>
</div>

<%= render 'question_tags' %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='/page_setup.js'></script>
