<!--Show Question-->
<%= render 'shared/show_content', locals = {resource: @question } %>

<h1> Answers </h1>

<!--Show All Answers-->
<% @question.answers.each do |question| %>
  <%= render 'shared/show_content', locals = {resource: question } %>
<% end %>

<!--Show Panel for writing answer-->
<%= render partial: 'shared/write_content', locals: {resource_name: 'Answer', resource_path: question_answers_path(@question)} %>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='/page_setup.js'></script>
